
*{
    margin: 0;
    box-sizing: border-box;
}
.title{
    font-size: 20px;
    text-align: center;
}
.subtitle{
    font-size: 17px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.header{
    background-color: aquamarine;
    height: 50px;
}
.header nav{
    display: flex;
    justify-content: end;
}
.header nav a{
    text-decoration: none;
    font-size: large;

}

.container{
    margin: auto;
    width: 80%;
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.div img{
    max-width: max-content;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}
.module{
    background-color: rgb(170, 243, 243);
}
